VITE_GUN_TOKEN=""
VITE_APP_TOKEN=""
VITE_GOOGLE_CLIENT_ID=""
VITE_GOOGLE_CLIENT_SECRET=""
VITE_GOOGLE_REDIRECT_URI=""

# Contract Address Overrides (Optional)
VITE_SEPOLIA_REGISTRY_ADDRESS=""
VITE_SEPOLIA_FORWARDER_ADDRESS=""
VITE_MAINNET_REGISTRY_ADDRESS=""
VITE_MAINNET_FORWARDER_ADDRESS=""
